<div class="headers">
  <h1><strong>Feedback form</strong></h1>
</div>
<div class="container">
  <form (ngSubmit)="onSubmit(feedbackForm)" #feedbackForm="ngForm">
    <div class="typeOfForm">
      <label for="type"><strong>What would you like to do?</strong></label>
      <select id="type" class="form-control" ngModel name="type">
        <option value="bug">Report a bug</option>
        <option value="suggestion">Provide a suggestion</option>
      </select>
    </div>
    <div class="description">
      <label for="description"
        ><strong>Please describe your issue in the box below</strong></label
      >
      <input
        type="description"
        name="description"
        class="descriptionBox"
        ngModel
        required
      />
    </div>
    <div class="buttonHolder">
      <button
        [disabled]="!feedbackForm.valid"
        type="submit"
        class="submitButton"
      >
        Submit
      </button>
    </div>
  </form>
</div>
