<div class="headers">
  <h1><strong>Feedback form</strong></h1>
</div>
<div class="container">
  <form (ngSubmit)="onSubmit(feedbackForm)" #feedbackForm="ngForm">
    <div class="typeOfForm">
      <label for="type"
        >Would you like to report a bug or make a suggestion?</label
      >
      <input type="text" class="firstBox" />
    </div>
    <div class="description">
      <label for="description"
        >Please describe your issue in the box below</label
      >
      <input
        type="description"
        name="description"
        class="descriptionBox"
        required
      />
    </div>
    <div class="buttonHolder">
      <button
        [disabled]="feedbackForm.form.invalid"
        type="submit"
        class="submitButton"
      >
        Submit
      </button>
    </div>
  </form>
</div>
