<div class="text-center">
    <br />
    <div class="logo">
        <img src="https://i.imgur.com/iChU2VU.png" alt="PUrfect Dining Logo" width="150px">
    </div>
  <div class="result" *ngIf="isSuccess">
    <p>A confirmation email has been sent to your email. Thank you!</p>
    <p [hidden]="isResend">
      Didn't receive an email yet?
      <a routerLink="/signup" (click)="resendEmail()">Resend confirmation</a>
    </p>
    <p [hidden]="!isResend">A new confirmation email has been sent!</p>
    <a routerLink="/login">Return to login page</a>
  </div>
  <div class="signupForm" *ngIf="!isSuccess">
    <form (submit)="onSignUp(signupForm)" #signupForm="ngForm">
      <label for="email"><b>Enter your Purdue email: </b></label>
      <input
        type="email"
        placeholder="Enter Email"
        name="email"
        class="emailField"
        required
        autofocus
        ngModel
      />
      <br />

      <label for="password"><b>Enter a password: </b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        class="passwordField"
        required
        ngModel
      />

      <br />

      <!--disable the button when the form is invalid-->
      <button type="submit">Sign Up</button>
    </form>
    <span class="loginText"
      >Already have an account? <a routerLink="/login">Sign in</a></span
    >
    <!--Print out the error message iff there is an error-->
    <p>{{ errMsg }}</p>
  </div>
  </div>
