<!-- This will redirect the user to the login page if not logged in -->
<div class="text-center" *ngIf=!isLoggedIn>
    <h1> You're not Logged In </h1>
    <div><span>Don't have an account? <a routerLink="/signup">Sign up!</a></span></div>
    <div><span>Already have an account? <a routerLink="/login">Login</a></span></div>
    <div><span>Don't want an account? <a routerLink="/">Homepage</a></span></div>
    
</div>


<!-- Manage account will only work when the user is logged in-->
<div class="text-center" *ngIf=isLoggedIn>
    
    <h1>Manage Account</h1>
    <p>Manage Your Account Information</p>
    <br>
    <button (click)="editEmailToggle()">Edit Email</button>
    <div *ngIf=editEmail>

        <!-- <form> -->
        <div *ngIf=!isESuccess>
        <label for="email"><b>Change Email: </b></label>
        <input 
            type="email" 
            placeholder="Enter New Email" 
            name="email"
            class="emailField" 
            required 
            autofocus
            #newEmail
            />
        <button (click)="changeEmail(newEmail.value)">Submit New Email</button>
        <!-- </form> -->
        </div>
        <div *ngIf=isESuccess>
            <p>Email Successfully Changed</p>
        </div>
    </div>
    <br>

    <button (click)="editPasswordToggle()">Edit Password</button>
    <div *ngIf=editPassword>

    <!-- <form> -->
        <div *ngIf=!isPSuccess>
        <label for="password"><b>Change Password: </b></label>
            <input 
                type="password" 
                placeholder="Enter New Password" 
                name="password" 
                class="passwordField"
                required
                autofocus
                #newPassword
                />
        <button (click)="changePassword(newPassword.value)">Submit New Password</button>
    <!-- </form> -->
        </div>
        <div *ngIf=isPSuccess>
        <p>Password Successfully Changed</p>
        </div>   
    </div>
</div>

  


