<div class="text-center">
  <br>
  <div class="logo">
    <img
      src="https://i.imgur.com/iChU2VU.png"
      alt="PUrfect Dining Logo"
      width="150px"
    />
  </div>

  <div class="result" *ngIf="isSuccess">
    <p>An email with password recovery instruction has been sent to your email</p>
    <a routerLink="/login">Click here to log in</a>
  </div>
  <div class="instructions" *ngIf="!isSuccess">
    <span>Please enter your email to receive an email with a password reset link</span>
    <form (submit)="onRecovery(recoveryForm)" #recoveryForm="ngForm">
      <label for="email"><b>Enter your Email: </b></label>
      <input
        type="email"
        placeholder="Enter Email"
        name="email"
        class="emailField"
        required
        autofocus
        ngModel
      />

      <br />
      <!--disable the button when the form is invalid-->
      <button [disabled]="recoveryForm.form.invalid" type="submit">
        Send Email
      </button>
    </form>
    <span
      >Remember your password?
      <a routerLink="/login">Redirect to Login page</a>
    </span>
    <!--Print out the error message iff there is an error-->
    <p>{{ errMsg }}</p>
  </div>
</div>