<h1 class="h1">{{ diningName }}</h1>
<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Select Dining Type
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<form (submit)="postComment(commentForm)" #commentForm="ngForm">
  <textarea
    rows="4"
    cols="50"
    name="comment"
    placeholder="Enter a comment here!"
    ngModel
  ></textarea>
  <br />
  <button type="submit">Submit</button>
</form>
