<h1 class="h1 text-capitalize">{{ diningName }}</h1>

<form (submit)="postComment(commentForm)" #commentForm="ngForm">
  <input
    type="radio"
    name="diningType"
    value="breakfast"
    required
    [(ngModel)]="diningType"
  />
  Breakfast<br />
  <input
    type="radio"
    name="diningType"
    value="lunch"
    required
    [(ngModel)]="diningType"
  />
  Lunch<br />
  <textarea
    rows="4"
    cols="50"
    name="comment"
    placeholder="Enter a comment here!"
    ngModel
  ></textarea>
  <br />
  <button type="submit">Submit</button>
</form>
