<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PUrfect Dining Navbar</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <div class="navbar is-primary">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/home">Home</a>
          <span class="navbar-burger burger" data-target="navMenu">
          </span>
        </div>
        <div id="navMenu" class="navbar-menu" *ngIf="!loggedIn">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="/login">Login</a>
          </div>
        </div>
        <div id="navMenu" class="navbar-menu" *ngIf="loggedIn">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="/manage">Settings</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>