<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PUrfect Dining Navbar</title>
    <link rel="stylesheet" routerLink="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <div class="navbar is-primary">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="#">Home</a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a routerLink="#" class="navbar-item is-active">Home</a>
            <a routerLink="#" class="navbar-item">Blog</a>
            <a routerLink="#" class="navbar-item">Forum</a>
            <a routerLink="#" class="navbar-item">Shop</a>
            <a routerLink="#" class="navbar-item">Examples</a>
          </div>
        </div>  
      </div>
    </div>
  </body>
</html>