<div class="menuContainer">
    <div class="details">
        <header class="text-capitalize">
            <strong>Menu</strong>
            <!-- <hr> -->
        </header>

        <!-- WINDSOR -->
        
        <aside class="menu">
            <h2>Portobello Road - Vegetarian</h2>
            <ul class="menu-list">
                <li><a>Tofu Pepper Scramble</a></li>
                <li><a>Long Grain Rice</a></li>
                <li><a>Moroccan Vegetable Quinoa</a></li>
                <li><a>Malibu Burger</a></li>
                <li><a>Baby Cooked Carrots</a></li>
            </ul>
            <h2>Regent Grill</h2>
            <ul class="menu-list">
                <li><a>Beef Chuck Pot Roast With Vegetables</a></li>
                <li><a>Parmesan Red Potatoes</a></li>
                <li><a>Sweet Yeasty Rolls</a></li>
                <li><a>Green Beans</a></li>
            </ul>
            <h2>Abby Road Deli</h2>
            <ul class="menu-list">
                <li><a>Deli & Fresh Baked Breads</a></li>
            </ul>
            <h2>SoHo International Market</h2>
            <ul class="menu-list">
                <li><a>Greek Tilapia Mozzarella</a></li>
                <li><a>Pastitsio</a></li>
                <li><a>Greek Patatopita Tinou</a></li>
                <li><a>Whole Green Beans</a></li>
            </ul>
            <h2>Chelsea Garden</h2>
            <ul class="menu-list">
                <li><a>Black Grapes</a></li>
                <li><a>Pear Slices</a></li>
            </ul>
            <h2>Burrito Bar</h2>
            <ul class="menu-list">
                <li><a>Chicken Carnita</a></li>
                <li><a>Sofritas</a></li>
                <li><a>Burritos Your Way</a></li>
            </ul>
            <h2>Devonshire Way</h2>
            <ul class="menu-list">
                <li><a>Carnival Cookie</a></li>
                <li><a>Red Velvet Cake</a></li>
                <li><a>Peach Cobbler</a></li>
                <li><a>Shortbread Cookie</a></li>
            </ul>
        </aside>    

        <!-- FORD -->
<!--         
        <aside class="menu">
            <h2>BoilerQ</h2>
            <ul class="menu-list">
                <li><a>Hamburgers</a></li>
                <li><a>Austin Blues Pulled Pork</a></li>
                <li><a>Grilled Pineapple Wedge</a></li>
                <li><a>Crinkle Cut Fries</a></li>
            </ul>    
            <h2>Potāto, Potäto</h2>
            <ul class="menu-list">
                <li><a>Seafood Topped Salmon</a></li>
                <li><a>Turkey Tetrazzini</a></li>
                <li><a>Lemon Wedges</a></li>
                <li><a>Vegetarian Baked Ziti</a></li>
                <li><a>Flame Roasted Sweet Potatoes</a></li>
                <li><a>California Vegetables</a></li>
                <li><a>Herbed Green Beans</a></li>
            </ul>
            <h2>International Market</h2>
            <ul class="menu-list">
                <li><a>Vietnamese Noodle Soup</a></li>
                <li><a>Stir Fry Bok Choy</a></li>
                <li><a>Pork Potstickers</a></li>
                <li><a>Potsticker Sauce</a></li>
            </ul>
            <h2>Parmesan Tomato</h2>
            <ul class="menu-list">
                <li><a>Chicken Bacon Ranch Pizza</a></li>
                <li><a>Pepperoni Pizza</a></li>
                <li><a>Cheese Pizza</a></li>
            </ul> 
            <h2>Salami and Swiss</h2>
            <ul class="menu-list">
                <li><a>Deli & Fresh Baked Breads</a></li>
                <li><a>Mexican Pasta Salad</a></li>
                <li><a>Zesty Mediterranean Couscous</a></li>
            </ul>  
            <h2>Sugar Hill</h2>
            <ul class="menu-list">
                <li><a>Chocolate Chip Cookie</a></li>
                <li><a>Strawberry Shortcake Cookie</a></li>
                <li><a>Pecan Pie</a></li>
                <li><a>Yellow Cake With Wellesley Frosting</a></li>
                <li><a>Berry Blue Gelatin</a></li>
            </ul> 
        </aside> -->
    </div>
</div>
