<div class="text-center" xmlns:text-align="http://www.w3.org/1999/xhtml">

  <div>
    <form (submit)="onLogIn(loginForm)" #loginForm="ngForm">
      <div class="logo">
        <img
          src="https://i.imgur.com/iChU2VU.png"
          alt="PUrfect Dining Logo"
          width="150px"
        />
      </div>

      <div class="fields">
        <label for="email"><b>Username/Email: </b></label>
        <input
          type="email"
          name="email"
          class="emailField"
          required
          autofocus
          ngModel
        />
        <br />

        <label for="password" text-align: right><b>Password: </b></label>
        <input
          type="password"
          name="password"
          class="passwordField"
          required
          ngModel
        />
      </div>
      <br />
      <br>

      <button
        [disabled]="loginForm.form.invalid"
        type="submit"
        class="signInButton"
      >
        Sign In
      </button>
      <a style="display: inline" routerLink="/recovery">Forgot password?</a>
    </form>
    <!--Print out the error message iff there is an error-->
    <p>{{ errMsg }}</p>
    <span>Don't have an account? <a routerLink="/signup">Sign up!</a></span>
  </div>
</div>
