<div class="text-center">
  <div *ngIf="isSuccess">
    <p>
      An email with password recovery instruction has been sent to your email
    </p>
    <a routerLink="/login">Click here to log in</a>
  </div>
  <div *ngIf="!isSuccess">
    <h1>Recover PUrfect Dining Password</h1>
    <br />
    <p>We will send a recovery instruction to your email.</p>
    <br />
    <form (submit)="onRecovery(recoveryForm)" #recoveryForm="ngForm">
      <label for="email"><b>Enter your Email: </b></label>
      <input
        type="email"
        placeholder="Enter Email"
        name="email"
        required
        autofocus
        ngModel
      />

      <br />
      <br />
      <button type="submit">Send Email</button>
    </form>
    <p>
      Remember your password now?
      <a routerLink="/login">Click here to get back</a>
    </p>
    <p>{{ errMsg }}</p>
  </div>
</div>
