<br>
<h1><strong>Dining Courts</strong></h1>
<br>
<div class="names">
        <a routerLink="/onebowl">1Bowl</a>
        <br>
        <a routerLink="/airhart">Earhart</a>
        <br>
        <a routerLink="/ford">Ford</a>
        <br>
        <a routerLink="/hillenbrand">Hillenbrand</a>
        <br>
        <a routerLink="/petesza">Pete's Za</a>
        <br>
        <a routerLink="/wiley">Wiley</a>
        <br>
        <a routerLink="/windsor">Windsor</a>
</div>
<!-- <div class="card" style="max-width: 15rem">
    <div class="container">
        <a routerLink="#">1Bowl</a>
    </div>
</div> -->
<!-- <div class="card" style="max-width: 15rem">
    <div class="container">
            <a routerLink="#">1Bowl</a>
    </div>
</div> -->
  <!-- <br>
    <br>
    <a routerLink="#">Earhart</a>
    <br>
    <br>
    <a routerLink="#">Ford</a>
    <br>
    <br>
    <a routerLink="#">Hillenbrand</a>
    <br>
    <br>
    <a routerLink="#">Wiley</a>
    <br>
    <br>
    <a routerLink="#">Windsor</a>
    <br>
    <br>
    <a routerLink="#">Pete's Za</a> -->

