<br>
<h1><strong>Dining Courts</strong></h1>
<br>
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="height: 50px; width: 157px">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <div class="card-body">
                        <a routerLink="#">1bowl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="height: 50px; width: 157px">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <div class="card-body">
                        <a routerLink="#">Earhart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="height: 50px; width: 157px">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <div class="card-body">
                        <a routerLink="#">Ford</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="height: 50px; width: 157px">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <div class="card-body">
                        <a routerLink="#">Hillenbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="height: 50px; width: 157px">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <div class="card-body">
                        <a routerLink="#">Wiley</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="height: 50px; width: 157px">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <div class="card-body">
                        <a routerLink="#">Windsor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="height: 50px; width: 157px">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <div class="card-body">
                        <a routerLink="#">Pete's Za</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>