<br />
<h1><strong>Dining Courts</strong></h1>
<br />

<div class="open">
    <h2>Open:</h2>
    <br>
      <div *ngFor="let open of openList;">
          <span><a routerLink="/dining/{{ open.diningName }}"> {{ open.diningName }} </a></span>
          <span>  Avg Rating: {{ open.avgScore }}</span>
          <p> Closing at: {{ open.closedTime }}</p>
          
      </div>
  </div>
  <div class="closed">
    <h2>Closed:</h2>
    <br>
      <div *ngFor="let closed of closedList">
            <a routerLink="/dining/{{ closed }}">{{ closed }}</a><p></p>
      </div>
  </div>
  