<br />
<header>
  <strong>Ford</strong>
</header>

<div *ngIf="loggedIn">
    <textarea
      rows="4"
      cols="50"
      name="comment"
      placeholder="Enter a comment here!"
      #inputComment
    ></textarea>
  <br />
  <button (click)="postComment(inputComment.value)">Post</button>
  <div class="commentSection">
    <br /><br />
    <div *ngFor="let comment of commentList">
      <p class="username">{{ comment.byUser }}</p>
      <p>{{ comment.text }}</p>
      <p>Rating: {{ comment.rating }}</p>
      <button>edit</button> <button (click) = "deleteComment()">delete</button>
      <br />
    </div>
  </div>
</div>
