<br />
<header>
  <strong>Ford</strong>
</header>

<div *ngIf="loggedIn">
  <form (submit)="postComment(commentForm)" #commentForm="ngForm">
    <textarea
      rows="4"
      cols="50"
      name="comment"
      placeholder="Enter a comment here!"
      ngModel
    ></textarea>
    <br />
    <button type="submit">Submit</button>
    <!-- <p (click)="postComment(inputComment.value)">Post</p> -->
  </form>
  <br />
</div>
<div class="commentSection">
  <br /><br />
  <div *ngFor="let comment of commentList">
    <p class="username">{{ comment.byUser }}</p>
    <p>{{ comment.text }}</p>
    <p>Rating: {{ comment.rating }}</p>
    <br />
    <div *ngIf="comment.authorId == userId">
      <button>Edit</button
      ><button (click)="deleteComment(comment.objectId)">Delete</button>
    </div>
  </div>
</div>
