<div class="text-center">
  <div *ngIf="isSuccess">
    <p>A confirmation email has been sent to your email. Thank you!</p>
    <p *ngIf="!isResend">
      Has not received email yet?
      <a routerLink="/signup" (click)="resendEmail()">Resend confirmation</a>
    </p>
    <p *ngIf="isResend">New confirmation has been resend!</p>
    <a routerLink="/login">Return to log in page</a>
  </div>
  <div *ngIf="!isSuccess">
    <form (submit)="onSignUp(signupForm)" #signupForm="ngForm">
      <h1>Sign Up</h1>
      <br />
      <p>Create a PUrfect Dining account!</p>
      <br />

      <label for="email"><b>Choose an Email: </b></label>
      <input
        type="email"
        placeholder="Enter Email"
        name="email"
        required
        autofocus
        ngModel
      />
      <br />
      <br />

      <label for="password"><b>Choose a password: </b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        required
        ngModel
      />

      <br />
      <br />
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Please sign in</a></p>
    <p>{{ errMsg }}</p>
  </div>
</div>
