<body>
  <div align="center">
    <div>
      <h1>Sign Up</h1>
      <br />
      <p algin="center">Create a PUrfect Dining account!</p>
      <br />

      <label for="email"><b>Choose an Email: </b></label>
      <input
        type="email"
        placeholder="Enter Email"
        name="useremail"
        required
        autofocus
      />

      <br />
      <br />

      <label for="password"><b>Choose a password: </b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="userpass"
        required
      />

      <br />
      <br />
      <button>Sign Up</button>
    </div>
  </div>
</body>
