.commentDetails {
  float: left;
  width: 80%;
}

header {
  text-align: center;
  /* display: inline-block; */
  font-size: 32px;
}
div {
  text-align: center;
}

.username {
  font-weight: bold;
}

.commentSection {
  /*margin-left: 100px;*/
}
