<br />
<div class="commentDetails">
  <header class="text-capitalize">
    <strong>{{ diningName }}</strong>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div *ngIf="isBarGraph">
          <app-graph [diningName]="diningName"></app-graph>
        </div>
        <div *ngIf="!isBarGraph">
          <app-graph-two [diningName]="diningName"></app-graph-two>
        </div>
      </div>
      <div class="col-4 m-auto text-center">
        <button class="mr-5" (click)="switchGraph()">Switch graph</button>
      </div>
    </div>
  </div>
  <div *ngIf="loggedIn">
    <br />
    <button (click)="middleState()">Post a Comment!</button>
    <!-- <p (click)="postComment(inputComment.value)">Post</p> -->
    <br />
  </div>
  <div class="commentSection">
    <br /><br />
    <p>Total number of comments: {{ commentListsize }}</p>
    <div *ngFor="let comment of commentList">
      <p class="username">{{ comment.byUser }}</p>
      <p>{{ comment.text }}</p>
      <button (click)="likeComment(comment.objectId)">Like</button>
      <p>Rating: {{ comment.rating }}</p>
      <p>Number of likes: {{ comment.likes }}</p>
      <br />
      <div>
        <button (click)="editComment(comment.objectId)">Edit</button
        ><button (click)="deleteComment(comment.objectId)">Delete</button>
      </div>
    </div>
  </div>
</div>
<app-menu></app-menu>
